<h1 class="newh1">Tags</h1>

<nav>
	<ul class="topnav">		
		<li class="to_new">
			<%= link_to "New Photo", new_photo_path, class: "new_photo" %>
		</li>
		<li class="to_photo">
			<%= link_to "Photos List", photos_path %>
		</li>
		<li class="to_tag">
			<%= link_to "Tags List", tags_path %>
		</li>
	</ul>
</nav>

<div class="tagbox" id="tags">
  <% @tags.each do |tag| %>
    <div class="tags">
      <%= link_to tag.name, tag_path(tag) %>
    </div>
  <% end %>
</div>
