<h1>All Photos</h1>

<ul id="photos">
  <% @photos.each do |photo| %>
    <li>
      <%= link_to photo.title, photo_path(photo) %>
    </li>
 		 <%= image_tag(photo.img_url.to_s) %>	
  <% end %>
</ul>

<%= link_to "Create a New Photo", new_photo_path, class: "new_photo" %>
