// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//colors
$color_suva_gray_approx: #888888;
$black: #000000;
$white: #ffffff;
$color_fuscous_gray_approx: #555;
$color_ebony_clay_approx: #202c39;
$color_gravel_approx: #46494c;

.newh1 {
	padding-top: 0.333em;
	font-size: 3.333em;
	padding-bottom: 0.333em;
}
.field {
	padding: 0.133em;
	input {
		font-size: 0.5em;
		width: 10em;
	}
	textarea {
		font-size: 0.5em;
		width: 15em;
		height: 5em;
	}
}
.form {
	padding: 1em;
	margin-top: 0.333em;
	width: 10em;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.777em;
	box-shadow: 0 0.125em 0.125em 0.0625em $color_suva_gray_approx;
}
.tilebox {
	display: flex;
	padding-top: 1.333em;
	flex-wrap: wrap;
	justify-content: center;
}
.tiles {
	padding: 1em;
	width: 10em;
	height: auto;
	font-size: 1.777em;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0.125em 0.125em 0.0625em $color_suva_gray_approx;
	margin: 1em;
	img {
		width: 10em;
		height: auto;
	}
}
.phototitle {
	padding-top: 1em;
	margin-bottom: 0.5em;
	font-size: 0.7em;
}
.buttonbox {
	display: flex;
	justify-content: center;
	font-size: 2em;
	background: $white;
}
.buttons {
	margin-top: 1em;
	margin-right: 1em;
	margin-left: 1em;
	font-size: 1.222em;
}
.photodesc {
	margin-bottom: 1em;
	padding-top: 1em;
	font-size: 1.333em;
}
#showp {
	height: auto;
}
.tagbox {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	flex-wrap: wrap;
}
.tags {
	margin-top: 1em;
	margin-right: 1em;
	margin-left: 1em;
	font-size: 2em;
}
.phototag {
	margin-bottom: 0.333em;
}
a {
	&:link {
		color: $color_ebony_clay_approx;
		text-decoration: none;
	}
	&:visited {
		color: $color_ebony_clay_approx;
		text-decoration: none;
	}
	&:hover {
		color: $color_gravel_approx;
		text-decoration: none;
	}
	&:active {
		color: $color_gravel_approx;
		text-decoration: none;
	}
}
@media screen and(min-width: 50em) {
	.newh1 {
		padding-top: 0.666em;
		font-size: 3.666em;
		text-align: center;
	}
	.form {
		margin-top: 1.333em;
	}
	.actions {
		padding-left: 0.133em;
		padding-top: 0.333em;
		font-size: 1.333em;
	}
	ul.topnav li a {
		font-size: 1.777em;
	}
}
.actions input {
	padding-left: 0.133em;
	font-size: 0.5em;
}
ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: $black;
	li {
		float: left;
		a {
			display: inline-block;
			color: $white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			transition: 0.3s;
			font-size: 1.5em;
			&:hover {
				background-color: $color_fuscous_gray_approx;
			}
		}
	}
}	