// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*form*/
.newh1 {
	padding-top: 1.333em;
	font-size: 2.333em;
	text-align: center;
	padding-bottom: 0.333em;
}
.form {
	padding: 1em;
	margin-top: 1.333em;
	width: 10em;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.777em;
  box-shadow: 0 0.125em 0.125em 0.0625em #888888;
}
.actions {
	padding-left: 0.133em;
}
.field textarea {
	width: 20.333em;
	height: 5.333em;
}
.field {
	padding: 0.133em;
}

/*nav*/
ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 0.333em;
	overflow: hidden;
	background-color: #000000;
}
ul.topnav li {
	float: left;
}
ul.topnav li a {
	display: inline-block;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}
ul.topnav li a:hover {background-color: #555;}

/*photos*/
.tilebox {
	display: flex;
	padding-top: 1.333em;
	flex-wrap: wrap;
	justify-content: center;
}
.tiles {
	padding: 1em;
	width: 10em;
	height: 10em;
  font-size: 1.777em;
  box-shadow: 0 0.125em 0.125em 0.0625em #888888;
  margin: 1em;
  position: relative;
}

.tiles img {
	width: 10em;
	height: auto;
}

.phototitle {
	bottom: 0;
	position: absolute;
	margin-bottom: 0.222em;
}
/*show*/
.buttonbox {
	display: flex;
	justify-content: center;
}

.buttons {
	margin-top: 1em;
	margin-right: 1em;
	margin-left: 1em;
	font-size: 1.222em;
}

.photodesc {
	margin-bottom: 1em;
}

#showp {
	height: auto;
}

/*tagshow*/
.tagbox {
	display: flex;
	justify-content: center;
}

.tags {
	margin-top: 1em;
	margin-right: 1em;
	margin-left: 1em;
	font-size: 1.222em;
}

.phototag {
	position: absolute;
	bottom: 0;
	margin-bottom: 0.333em;
}
/*links*/
a:link {
  color: #202C39;
  text-decoration: none;
}

a:visited {
  color: #202C39;
  text-decoration: none;
}

a:hover {
  color: #46494C;
  text-decoration: none;
}

a:active {
  color: #46494C;
  text-decoration: none;
}
